
# packages
.temp
.cache
.DS_Store
./**/.DS_Store
node_modules
/dist
/deploy

# test coverage
coverage

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?