{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "insertPragma": false,
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true
}
